<h2 mat-dialog-title align="center">Ajouter un plan repas</h2>
<mat-divider></mat-divider>
<br />

<div mat-dialog-content>
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Entrez un numéro de plan</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Numéro de plan</mat-label>
          <input
            [(ngModel)]="planNumber"
            type="number" min="1" max="2147483647" maxlength="10"
            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
            matInput formControlName="firstCtrl"
            value="{{planNumber}}"
            placeholder="Ex: 3"
            required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Entrez une catégorie</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select [(value)]="category" formControlName="secondCtrl">
            <mat-option *ngFor="let category of this.categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Entrez une fréquence</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Fréquence</mat-label>
          <input 
            [(ngModel)]="frequency"
            type="number" min="0" max="32767" maxlength="5"
            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
            matInput formControlName="thirdCtrl" placeholder="Ex: 4" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Entrez le nombre de personnes</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nombre de personnes</mat-label>
          <input
            [(ngModel)]="numberOfPeople"
            type="number" min="1" max="32767" maxlength="5"
            onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
            matInput formControlName="fourthCtrl" placeholder="Ex: 5" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Entrez le nombre de calories</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nombre de calories</mat-label>
          <input 
            [(ngModel)]="numberOfCalories"
            type="number" min="0" max="32767" maxlength="5"
            matInput formControlName="fifthCtrl" placeholder="Ex: 3000" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="sixthFormGroup">
      <form [formGroup]="sixthFormGroup">
        <ng-template matStepLabel>Entrez le prix</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Prix</mat-label>
          <input [(ngModel)]="price" type="number" min="0" max="9999.99" maxlength="7" matInput formControlName="sixthCtrl" placeholder="Ex: 23.50" required>
          <mat-hint align="start">Max: $9999.99</mat-hint>
        </mat-form-field>
        <div>
        <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="seventhFormGroup">
      <form [formGroup]="seventhFormGroup">
        <ng-template matStepLabel>Entrez le numéro du fournisseur</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Numéro du fournisseur</mat-label>
          <mat-select [(value)]="supplierNumber" formControlName="seventhCtrl">
            <mat-option *ngFor="let supplier of this.suppliers" [value]="supplier.supplierNumber">
              {{ supplier.supplierNumber }}: {{ supplier.supplierName ? supplier.supplierName : "Fournisseur sans nom"  }} 
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Étape précédente</button>
          <button mat-button matStepperNext>Étape suivante</button>
        </div>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Révision de l'ajout</ng-template>
      <mat-card class="example-card">
        <mat-card-subtitle *ngIf="planNumber">Numéro du plan : {{ planNumber }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!planNumber" ngClass="to-be-defined">Numéro du plan : à définir</mat-card-subtitle>
        <mat-card-content>
          <ul>
            <li *ngIf="category">
              Catégorie: {{ category }}
            </li>
              <li *ngIf="!category" ngClass="to-be-defined">
                Categorie: à définir
              </li>
            <li *ngIf="frequency">
              Fréquence: {{ frequency }}
            </li>
              <li *ngIf="!frequency" ngClass="to-be-defined">
                Frequence: à définir
              </li>
            <li *ngIf="numberOfPeople">
              Nombre de personnes: {{ numberOfPeople }}
            </li>
              <li *ngIf="!numberOfPeople" ngClass="to-be-defined">
                Nombre de personnes: à définir
              </li>
            <li *ngIf="numberOfCalories">
              Nombre de calories: {{ numberOfCalories }}
            </li>
              <li *ngIf="!numberOfCalories" ngClass="to-be-defined">
                Nombre de calories: à définir
              </li>
            <li *ngIf="price">
              Prix: {{ price }}
            </li>
              <li *ngIf="!price" ngClass="to-be-defined">
                Prix: à définir
              </li>
            <li *ngIf="supplierNumber">
              Numéro du Fournisseur: {{ supplierNumber }}
            </li>
              <li *ngIf="!supplierNumber" ngClass="to-be-defined">
                Numéro du Fournisseur: à définir
              </li>
          </ul>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Étape précédente</button>
        <button mat-button (click)="stepper.reset()">Réinitialiser</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
<mat-divider></mat-divider>
<div style="display: flex; justify-content: space-between; align-items: center; align-content: space-between; flex-direction: row;" mat-dialog-actions>
  <div>
    <button mat-button mat-dialog-close color="primary" *ngIf="planNumber && category && frequency && numberOfPeople && numberOfCalories && price && supplierNumber" (click)="this.addMealPlan()">Ajouter ! <mat-icon>local_dining</mat-icon></button>
    <button mat-button mat-dialog-close color="primary">Annuler <mat-icon>clear</mat-icon></button>
  </div>
</div>
