.title {
  color: rgb(238, 115, 0);
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
  font-weight: bold;
}

.home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content:center;
  width: 80%;
  margin-left: 10.5%;
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 5%;
}

p{
  color:rgb(255, 255, 255);
}

.btn {
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  background:brown;
}

.main-nav {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 1%;
}
